<header>
  <div class="header__logo">Job App</div>
  <nav class="header__nav">
    <ul class="header__nav-list">
      <li class="header__nav-item">Buscar empleo</li>
      <li class="header__nav-item">Executive</li>
      <li class="header__nav-item">Formación</li>
      <li class="header__nav-item">Consejos</li>
    </ul>
  </nav>
  <div class="header__loggin">
    <ul class="header__loggin-list">
      <li class="header__loggin-item">Acceso empresas</li>
      <li class="header__nav-item">Acceso candidatos</li>
    </ul>
  </div>
</header>
