<div class="footer">
  <div class="footer__row">
    <div class="footer__col">
      <h4>Nosotros</h4>
      <ul class="footer__list">
        <li class="footer__list-item">Ayuda</li>
        <li class="footer__list-item">Ayuda</li>
        <li class="footer__list-item">Ayuda</li>
        <li class="footer__list-item">Ayuda</li>
        <li class="footer__list-item">Ayuda</li>
        <li class="footer__list-item">Ayuda</li>
        <li class="footer__list-item">Ayuda</li>
      </ul>
    </div>
    <div class="footer__col">
      <h4>Sobre AppJobs</h4>
      <ul class="footer__list">
        <li class="footer__list-item">Ayuda</li>
        <li class="footer__list-item">Ayuda</li>
        <li class="footer__list-item">Ayuda</li>
      </ul>
    </div>
    <div class="footer__col">
      <h4>+ AppJobs</h4>
      <ul class="footer__list">
        <li class="footer__list-item">Ayuda</li>
        <li class="footer__list-item">Ayuda</li>
        <li class="footer__list-item">Ayuda</li>
        <li class="footer__list-item">Ayuda</li>
        <li class="footer__list-item">Ayuda</li>
      </ul>
    </div>
    <div class="footer__col">
      <h4>Prensa</h4>
      <ul class="footer__list">
        <li class="footer__list-item">Ayuda</li>
        <li class="footer__list-item">Ayuda</li>
        <li class="footer__list-item">Ayuda</li>
      </ul>
    </div>
  </div>
  <div class="footer__row">
    <div class="footer__col col-max">
      <hr>
      <div class="footer__icons">
        <div class="footer__icon-box">
          <span class="footer__icon-headig">Siguenos</span>
          <div class="footer__icon-item">Icon1</div>
          <div class="footer__icon-item">Icon2</div>
          <div class="footer__icon-item">Icon3</div>
        </div>
        <div class="footer__icon-box">
          <div class="footer__app-store-icon footer__icon-item">Google Play</div>
          <div class="footer__app-store-icon footer__icon-item">App Store</div>
        </div>
      </div>
      <hr>
    </div>

  </div>
  <div class="footer__row">
    <ul class="footer__list-horizontal">
      <li class="footer__list-item"><a class="footer__link" href="#">Adevinta</a></li>
      <li class="footer__list-item"><a class="footer__link" href="#">Fotocasa</a></li>
      <li class="footer__list-item"><a class="footer__link" href="#">Habitaclia</a></li>
      <li class="footer__list-item"><a class="footer__link" href="#">Coches.net</a></li>
      <li class="footer__list-item"><a class="footer__link" href="#">Milanuncios</a></li>
    </ul>
  </div>
  <div class="footer__row">
    <h1 class="heading-tertiary">AppJop</h1>
  </div>
</div>
