
.employer {
  width: 30vw;
  position: relative;
  margin: .5rem .5rem;

}

.employer {
  /*margin-right: 2rem;*/
}

.employer__image-box {
  width: 100%;
}

.employer__image {
  max-width: 100%;
}

.employer__info-window {
  position: absolute;
  bottom: 0px;
  left: 0px;
  /*margin: auto;*/
  width: 25vw;
  background-color: rgba(255, 255, 255, .5);
  transform: translate(2vw, -2vh);
  padding: .5rem 1rem
}

.employer-info-row {
  display: flex;
  align-items: center;
}

.employer__logo-box {
  width: 3rem;
  margin-right: 1rem;
}

.employer__logo-image {
  max-width: 100%;
}

.employer__info-col {
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
}

.employer__name {
  text-align: center;
}

.employer__offers {

}

.employer__description {

}
