<div class="c-service__container">
  <div class="c-service bg-skyblue">
    <div class="c-service__image-box">
      <img class="c-service__image" src="https://media.infojobs.net/appgrade/pictures/pic-home-blog.png">
    </div>
    <div class="c-service__info">
      <h3 class="heading-tertiary">¿NECESITAS UN COACH LABORAL?</h3>
      <p class="c-service__description">Te damos consejos para mejorar tu carrera profesional</p>
      <button class="btn btn--blue btn--med">Ir a blog</button>
    </div>
  </div>
  <div class="c-service bg-lightyellow">
    <div class="c-service__image-box">
      <img class="c-service__image" src="https://media.infojobs.net/appgrade/pictures/pic-home-cursos.png">
    </div>
    <div class="c-service__info">
      <h3 class="heading-tertiary">MEJORA TU PERFIL PROFESIONAL</h3>
      <p class="c-service__description">Adquiere nuevos conocimientos con nuestros cursos de formación</p>
      <button class="btn btn--blue btn--med">Ver cursos</button>
    </div>
  </div>
</div>
