<div class="search-bar__container">
  <div class="search-bar__item">
    <label for="offers">Busca ofertas de...</label>
    <input class="search-bar__input-text" type="text" name="offers" id="offers" placeholder="puesto, empresa o palabra clave">
  </div>
  <div class="search-bar__item">
    <label for="cities">en </label>
    <select class="search-bar__select"  name="cities" id="cities">
      <option class="search-bar__option"  value="madrid">Madrid</option>
    </select>
  </div>
  <button class="btn search-bar__btn btn--orange" type="submit">Buscar</button>
</div>
