/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 10px;
}

.btn {
  width: max-content;
  padding: .5rem 1rem;
  margin: auto;
}

.btn--blue {

}

.btn--med{

}

.bg-lightyellow{
  background-color: lightyellow;
}

.bg-skyblue{
  background-color: skyblue;
}
