/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 10px;
}

.btn {
  width: max-content;
  padding: .5rem 1rem;
}

.btn--blue {
  background-color: #58a4de;
  color: white;
}

.btn--orange {
  background-color: orangered;
  color: white;
}

.btn--med{

}

.bg-lightyellow{
  background-color: lightyellow;
}

.bg-skyblue{
  background-color: skyblue;
}

.heading-secondary {
  font-size: 2.5rem;
  margin-bottom: 2.5rem;
}

.heading-tertiary {
  margin-bottom: 2rem;
  text-align: left;
  margin-left: 5rem;
  font-size: 2rem;
}

ul {
  list-style: none;
}

a:link {
  text-decoration: none;
  color: darkslategrey;
}
